<div class="header-container">
  <div class="header-top-bar container">
    <a class="d-flex align-items-center" href="https://github.com/FWagner13" target="_blank">
      <div class="fwagner-icon">
        <img src="../../assets/img/fwagner.jpg">
      </div>

      <span class="fwagner-text">{{topBarText}}</span>
    </a>
  </div>

  <div class="header-title  d-flex justify-content-center align-items-center">
    <h1>{{title}}</h1>
  </div>

  <div class="header-subtitle  d-flex justify-content-center align-items-center">
      <h5>{{subtitle}}</h5>
  </div>

  <poke-search></poke-search>
</div>